@font-face {
    font-family: "SerpentineDbol";
    src: url(images\SerpentineDBol.ttf) format("truetype");
}

p.customfont {
    font-family: "SerpentineDbol", Verdana, Tahoma;
}

.bodyContainer {
    display: flex;

    justify-content: space-between;
    height: 100vh;
    width: 100vw;
    margin: 0 auto;
    background-size: 100%;
    color: white;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Serpentine", Verdana, Tahoma;

}

body {
    background-image: url(https://art.ngfiles.com/images/2056000/2056337_dreamspectre_planet-zebes.gif?f1630756368);
    background-size: 100% 200%;
}

.mainCharacterView {

    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.left {}

.right {}

.nameBox {
    border: 1px solid black;
    width: 25vw;
    height: 10vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    /* color: orange; */
    box-shadow: 0px 0px 20px 10px orange;

}

#metroidNameBox {
    box-shadow: 0px 0px 20px 10px greenyellow;
    /* color: greenyellow; */

}

.playerImage {
    border: 1px solidblack;
    width: 30vw;
    height: 35vh;
    background-image: url("images/samuship.gif");
    background-size: 70%;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0px 0px 20px 10px orange;



}

.playerStats {
    display: flex;
    /* flex: auto; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solidblack;
    width: 15vw;
    height: 15vh;
    text-align: center;
    font-size: 1.5em;
    box-shadow: 0px 0px 20px 10px orange;
    border-radius: 2%;


}

.enemyImage {
    border: 1px solidblack;
    width: 30vw;
    height: 35vh;
    background-image: url("images/metroid.gif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0px 0px 20px 10px greenyellow;



}

.enemyStats {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solidblack;
    width: 15vw;
    height: 15vh;
    text-align: center;
    font-size: 1.5em;
    box-shadow: 0px 0px 20px 10px greenyellow;

}

#play {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    border: 1px solidblack;
    width: 15vw;
    height: 15vh;
    margin-top: 50px;
    margin-left: 16%;
    text-align: center;
    font-size: 1.5em;
    box-shadow: 0px 0px 20px 10px white;
    font-family: "SerpentineDbol", Verdana, Tahoma;
    cursor: pointer;
    border-radius: 60%;

}

#playbox {
    height: 100%;
    width: 450px;
    display: flexbox;
    justify-content: center;
    align-items: center;


}

#log {
    display: flex;
    justify-content: center;
    align-items: baseline;
    border: 1px solidblack;
    width: 100%;
    height: 200px;
    margin-top: 450px;
    text-align: center;
    font-size: 1.5em;
    box-shadow: 0px 0px 20px 10px white;
    background-image: url(images/logbg.jpg);
}

#logbox {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
}

/* #logbox button {
} */

/* #btnbox {

    height: 400px;
    width: 10%;
    margin-top: 300px;
    top: 0%;
    display: flex;
    position: absolute;
    justify-content: center;
    flex-direction: row;
} */

.butts {
    height: 60px;

}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn {
    padding: 10px 60px;
    border: 0;
    outline: none;
    cursor: pointer;
    font-size: 22px;
    font-weight: 500;
    border-radius: 30px;
    margin-top: 350px;
}

#cont {
    margin-right: 10px;
}

#retreat {
    margin-left: 10px;
}

#logp {
    margin-top: 30px;
}

.popup {
    width: 480px;
    height: 480px;
    background-image: url(images/cutesamus.gif);
    border-radius: 6px;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    visibility: hidden;
    text-align: center;
    padding: 0 30px 30px;
    transition: transform 0.4s, top 0.4s;
}

.open-popup {
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
}